.clientePrincipal {
    flex: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topCliente {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.inputPesquisa {
    width: 320px;
    padding: 8px 16px;
    border-radius: 24px;
    border: 1px solid #aaa;
    font-size: 1rem;
    background: #fff;
    outline: none;
}

.usuarioCliente {
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    font-weight: 500;
    font-size: 1rem;
}

.setaVoltar img {
    cursor: pointer;
    transition: transform 0.2s;
    height: 105px;
    width: 50px;
}

.tituloCliente {
    width: 100%;
    color: #142850;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.tabelaClienteContainer {
    width: 100%;
    overflow-x: auto;
}

.tabelaCliente {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1rem;
}

.tabelaCliente th {
    text-align: left;
    padding-bottom: 12px;
    font-weight: 700;
    color: #222;
    border-bottom: 2px solid #222;
}

.tabelaCliente td {
    padding: 16px 8px;
    border-bottom: 1px solid #bdb7b7;
    color: #222;
}

.btnExcluir,
.btnEditar {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10;
}

.iconLixeira,
.iconEditar {
    width: 37px;
    height: 37px;
    transition: 0.2s;
}

.iconLixeira:hover,
.iconEditar:hover {
    transform: scale(1.1);
}


@media screen and (max-width: 900px) {
    .tabelaCliente thead {
        display: none;
    }

    .tabelaCliente tr::after {
        content: "";
        height: 2px;
        width: 100%;
        margin: 10px 0;
        display: block;

        background: rgb(238, 238, 238);
        background: linear-gradient(
            128deg,
            rgba(238, 238, 238, 1) 0%,
            rgba(204, 204, 204, 1) 25%,
            rgba(204, 204, 204, 1) 75%,
            rgba(238, 238, 238, 1) 100%
        );
    }

   
.iconEditar{
 width: 40%;
 height: 40%;
}

 .iconLixeira{
     width: 35%;
 height: 35%;
 }

    .tabelaCliente td {
        display: flex;
        align-items: center;
        gap: 10px;
        overflow-x: scroll;
        white-space: nowrap;
        min-width: 225px;
        width: 100%;
    }

    .tabelaCliente td::before {
        content: attr(data-cell) ": ";
        text-align: start;
        font-weight: 700;
        text-transform: capitalize;
        min-width: 90px;
        width: 25%;
    }

    /* Caso a tabela esteja vazia */
    .linha-mensagem td::before {
        content: '';
    }

    .linha-mensagem td {
        display: table-cell;
        text-align: center;
    }
}

/* ========= AJUSTES EM TELAS PEQUENAS ========= */
@media (max-width: 480px) {
    .setaImg {
        display: none;
    }

    .titulo {
        margin-top: 18%;
    }

    .tabelaCliente {
        font-size: 14px;
    }

    .tituloCliente {
        font-size: 24px;
    }
}
