<<<<<<< HEAD
=======
/* .grupoPesquisa {
    position: relative;
}

.grupoPesquisa input { 
    width: 600px;
    height: 35px;
    padding: 15px 5px 0px 5px;
    padding-left: 30px;
    padding-bottom: 9px;
    font-size: 18px;
    outline: none;

    border: none;
    border-bottom: 1px solid black;
    background: transparent;
}

.grupoPesquisa img { 
    position: absolute;
    left: -3px;
    top: 2px;
    height: 30px;
    width: 30px;
    transition: 0.2s;
}

.grupoPesquisa input:focus~label {
    color: #0a2a6c;
}

.grupoPesquisa input:focus {
    border-width: 2px;
    border-bottom-color: #0a2a6c;
} */

>>>>>>> b4057c42bb6d03e0812a9307fa0abab8c69125f3
.cabecalho {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4%;
    margin-top: 2%;
}

.infCabecalho {
    display: flex;
    align-items: center;
}

.setaImg {
    height: 1.5rem;
    transition: 0.2s;
}

.setaImg:hover {
    transform: scale(1.1);
}

.campoTipoUsuario {
    width: 80%;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.campoTipoUsuario p {
    color: #7A2323;
}