.grupoPesquisa {
  position: relative;
}

.grupoPesquisa input { 
  width: 600px;
  height: 35px;
  padding: 15px 5px 0px 35px;
  font-size: 18px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  transition: all 0.3s ease;
    padding-bottom: 3%;
}


.grupoPesquisa img { 
  position: absolute;
  left: 0;
  top: 3px;
    height: 23px;
    width: 22px;
  transition: 0.2s;
  margin-bottom: 10%;
    display: flex;
align-items: center;  
}

.grupoPesquisa input:focus~label {
  color: #0a2a6c;
}

.grupoPesquisa input:focus {
  border-width: 2px;
  border-bottom-color: #0a2a6c;
}

.cabecalho {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.containerCabecalho{
  display: flex;
}

.iconeUser{
  margin-left: 20%;
 display: flex;
align-items: center;
gap: 5px; 
  }

.infCabecalho {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 10%;
  width: 100%;
  font-weight: 500;
  color: #7a1a1a;
}

.infUser {
  display: flex;
  align-items: center;
  gap: 8px;
}

.setaImg {
  height: 1.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: 0.2s;
}

.setaImg:hover {
  transform: scale(1.1);
}

/* --- RESPONSIVIDADE --- */
@media (max-width: 1024px) {
  .grupoPesquisa input {
    width: 450px;
    font-size: 16px;
  }

  .infCabecalho {
    margin-left: 5%;
  }
}

@media (max-width: 768px) {
  .cabecalho {
    flex-direction: column;
    align-items: flex-start;
  }

  .grupoPesquisa input {
        max-width: 38%;

  }

  .grupoPesquisa img {
    left: 5px;
    top: 5px;
    width: 24px;
    height: 24px;
  }

  .infCabecalho {
    justify-content: center;
    margin-left: 0;
    width: 100%;
    text-align: center;
  }

  .setaImg {
    height: 1.3rem;
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  .grupoPesquisa input {
    max-width: 38%;
    font-size: 15px;
    padding-left: 30px;
  }

  .iconeLupa{
    width: 10%;
    height: 10%;
  }

  .infCabecalho {
    font-size: 0.9rem;
    color: #5a0f0f;
  }
}
