.menuLateral {
    width: 20%;
    height: 100%;
    
    background: linear-gradient(135deg, #0d0d0d, #001f3f, #0a2a6c);
    box-shadow: 2px 0 8px rgba(0,0,0,0.08);
    color: #fff;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;

    padding-bottom: 2%;
    padding-top: 2%;
}

.menuLateral img {
    text-align: center;
}

.linksLateral {
    display: flex;
    flex-direction: column;
}

.linksLateral img {
    height: auto;
    width: 30px;
    margin-right: 16px;
}

.logout {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logoMenu {
    width: 105px;  
    height: 105px;
    /* margin-bottom: 32; */
    /* margin-right: 16px; */
}